# control interface and launcher (turkctl.py)
turkctl:
    # Format for daemon pid files ("%(name)s" will be replaced with process name)
    pidfiles: var/%(name)s.pid

# D-Bus Session
dbus:
    address: unix:path=var/dbus.sock
    daemon: dbus-daemon
    config: config/dbus.conf

supervisor:
    daemon: supervisord
    controller: supervisorctl
    config: config/supervisord.conf

# bridge (drivers <-> XMPP <-> apps)
bridge:
    server: jabber.iitsp.com
    port: 5222
    username: turk-platform-1@jabber.iitsp.com
    password: password

# spawner (starts/stops and manages drivers)
spawner:
    supervisor: False
    # Add drivers that should be automatically started here along with their parameters
    autostart: [
        #{'device_id': 1, 'filename': 'tick.py', 'env': {}, 'args': []},
        #{'device_id': 6, 'filename':'rgb_lamp.py', 'env':{'DEVICE_ADDRESS':'0x13A2004052DADD'}, 'args': []},
        #{'device_id': 8, 'filename':'pixel_clock.py', 'env':{'DEVICE_ADDRESS':'0x13A2004052DA9A'}, 'args': []},
    ]
    # Location of drivers (prefixed to all driver filenames)
    drivers: examples/drivers

log:
    file: logs/%(name)s.txt
    format: '[%(levelname)s] %(name)s: %(message)s'
    level: DEBUG

