
body {
    background-color: #666666;
    background-image: url("images/greygradient.png");
    background-repeat: repeat-x;
}

#devicelist {
    width: 980px;
    margin: 0 auto;
}


.device {
    background: #76C5DC url("images/cyangradientvert.png");
    background-repeat: repeat-x;
    border: 5px solid #51BDDC;
    border-top-color: #76C5DC; 
    color: #FFFFFF;
    width: 300px;
    margin: 8px;
    font-family: Helvetica, sans-serif;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    clear: none;
    float: left;
}

div.devicehl {
    border: 2px solid #FFFFFF;
}

div.deviceassociated {
    background-color: #FFFFFF;
}

.deviceshader {
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    left: 0%;
    top: 0%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.deviceheader {
    height: 30px;
    margin: 20px;
    font-size: 1.2em;
}

.devicename {
    float: left;
}

.deviceid {
    float: right;
}

.deviceIO {
    margin: 20px;
    margin-top: 0px;

}

.deviceinput, .deviceoutput {
    margin: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #76C5DC;
    border-color: #095F78;
    border-bottom-color: #095F78;
    color: #095F78;
    background: #76C5DC url("images/cyangradientvert2.png");
}


.deviceinput {
    color: #FFFFFF;
}

.deviceclear {
    clear: both;
    width:100%;
    height: 1px;
}
